<header>
  <nav>
    <h1 class="logo">
      <%= link_to "Recipe App", root_path %>
      </h1>
    <ul>
      <li><%= link_to "Foods",
        foods_path,
        class: class_names("text-gray-50", { active: current_page?(foods_path) }) %></li>
      <li><%= link_to "Recipes",
        recipes_path,
        class: class_names("text-gray-50", { active: current_page?(recipes_path) }) %></li>

      <li>Public Recipes</li>
      <li><%= button_to "Sign Out",
        destroy_user_session_path,
        method: :delete,
        class: "logout-btn" %></li>
    </ul>
  </nav>
</header>
