@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background: #f9f9f9;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header_bg {
  height: 400px;
  background-image: url('Foods_background.jpg');
}

nav {
  width: 100%;
  height: 60px;
  background: #212a30;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Black Ops One', cursive;
  color: #f9f9f9;
  font-size: 22px;
  user-select: none;
  margin: 0 50px;
}

ul {
  margin: 0 50px;
}

li {
  display: inline-block;
  margin: 0 15px;
  color: #f9f9f9;
  font-size: 14px;
  font-weight: 400;
}

.links-top {
  color: #f9f9f9;
}

.logout-btn {
  background: #fff;
  width: 100px;
  color: #000;
  text-align: center;
  padding: 8px 5px;
  border-radius: 2px;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}

.notice,
.alert {
  border-radius: 2px;
  background: rgba(44, 235, 44, 0.459);
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  animation: hiding 5s forwards;
}

@keyframes hiding {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.food-active {
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 6px 8px;
}

.add-food-btn {
  float: right;
  margin: 50px 60px;
  width: 100px;
  padding: 7px 7px;
  background: #212a30;
  border-radius: 3px;
  text-align: center;
  color: #f9f9f9;
}

.new-food-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.small-food-container {
  width: 250px;
  display: flex;
  flex-direction: column;
  background: #212a30;
  border-radius: 4px;
  align-items: center;
  padding: 20px;
}

.food-heading {
  font-size: 20px;
  color: #fff;
}

.text-fields-container * {
  width: 230px;
  padding: 5px 0;
  border-radius: 2px;
  border: none;
}

.table-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

table {
  width: 80%;
}

th,
td {
  padding: 5px;
  text-transform: capitalize;
  text-align: center;
}

th {
  color: #fff;
  background: #212a30;
}

tr:nth-child(even) {
  background: #cecdcd;
  color: #000;
}

.delete-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: underline;
}
